.my-animate{
    view-timeline-name: --high;
    view-timeline-axis: block ;
    animation-timeline: --high;
    animation-name: show ;
    animation-range: entry 20% cover 50% ;
}


@keyframes show {
    from {
       opacity: 0; 
       scale: 25%;
    }
  
    to {
        opacity: 1; 
        scale: 100%;
    }
}